<p id="notice"><%= notice %></p>

<p>
  <strong>Section:</strong>
  <%= @enrollment.section %>
</p>

<p>
  <strong>Student:</strong>
  <%= @enrollment.student %>
</p>

<%= link_to 'Edit', edit_enrollment_path(@enrollment) %> |
<%= link_to 'Back', enrollments_path %>
